[submodule "discord"]
	path = discord
	url = git@github.com:CrewBot-dev/crewbot-discord
	branch = main
[submodule "server"]
	path = server
	url = git@github.com:CrewBot-dev/crewbot-server
	branch = main
